---
const buildDate = new Date();
---

<footer class="site-footer breakout">
  <fieldset>
    <legend>footer</legend>
    <p>Built on {buildDate.toISOString().slice(0, 10)}.</p>
    <ul class="cluster" role="list" style="padding-left: 0;">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="/films/">Films</a>
      </li>
      <!-- <li>
              <a href="/blogroll/">Blogroll</a>
          </li> -->
      <li>
        <a rel="me" href="https://social.lol/@pdav">Mastodon</a>
      </li>
      <li>
        <a rel="me" href="https://github.com/pdavlin">GitHub</a>
      </li>
    </ul>
  </fieldset>
</footer>

<style>
  .site-footer {
    position: sticky;
    padding-block: var(--space_2xl);
    margin-block: var(--page_gutters) var(--space_xl);

    fieldset {
      margin: 0;
      padding: 0.25rem 0.5rem;
    }

    a {
      display: grid;
      place-items: center;
      place-content: center;
      color: currentcolor;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul > li {
    list-style: none;
  }

  @media (max-width: 480px) {
    ul.cluster {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
</style>
