---

---

<footer class="site-footer breakout">
    <p>Built on 2024-06-14.</p>
    <ul class="cluster" role="list" style="padding-left: 0;">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog/">Blog</a>
        </li>
        <!-- <li>
            <a href="/blogroll/">Blogroll</a>
        </li> -->
        <li>
            <a rel="me" href="https://social.lol/@pdav">Mastodon</a>
        </li>
    </ul>
</footer>

<style>
    .site-footer {
        position: sticky;
        padding-block: var(--space_2xl);
        margin-block: var(--page_gutters) var(--space_xl);

        a {
            display: grid;
            place-items: center;
            place-content: center;
            color: currentcolor;
            text-decoration: none;
        }
    }

    ul > li {
        list-style: none;
    }
</style>
