---

---

<header class="site-header">
  <nav class="cluster">
    <ul class="cluster" role="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="/feed.xml/">RSS</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .site-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-inline: var(--page_gutters);
    margin-block: var(--page_gutters) var(--space_xl);
    z-index: 1;

    a {
      display: grid;
      place-items: center;
      place-content: center;
      color: currentcolor;
      text-decoration: none;
    }
  }

  ul > li {
    list-style: none;
  }
</style>
