---

---

<header class="site-header">
  <fieldset>
    <legend>header</legend>
    <nav class="cluster">
      <ul class="cluster" role="list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/films/">Films</a>
        </li>
        <li>
          <a href="/feed.xml/">RSS</a>
        </li>
      </ul>
    </nav>
  </fieldset>
</header>

<style>
  .site-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-inline: var(--page_gutters);
    margin-block: var(--page_gutters) var(--space_xl);
    z-index: 1;

    a {
      display: grid;
      place-items: center;
      place-content: center;
      color: currentcolor;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    fieldset {
      margin: 0;
      padding: 0.25rem 0.5rem;
    }
  }

  ul {
    padding-left: 0;
    margin: 0;
  }

  ul > li {
    list-style: none;
  }
</style>
