---
import type { GetStaticPaths } from "astro";
type Props = {
    page: string;
};

import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { page } = Astro.props;
console.log(page);
---

<Header />
<main class={`breakout flow ${page === "post" ? "prose" : ""}`}>
    <slot />
</main>
<Footer />
